@model IEnumerable<CodeFirst_13Bang.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách hóa đơn</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                mã
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày thanh toán
            </th>
            <th>
                Ngày ship
            </th>
            <th>
                Ngày nhận
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Tên người nhận
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Khách hàng
            </th>
            <th>
                Nhân viên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayShip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNguoiNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNV)
                </td>
                <td>
                    @Html.ActionLink("Thêm sản phẩm", "ThemSP", new { item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Chi tiết", "Index","HoaDonChiTiet", new { item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Thanh toán", "Index","HoaDonChiTiet", new { item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
